@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,html {
    background-color: rgb(40, 40, 75);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);

    transition: width .3s, height .3s; /* coloca uma animação ao aumentar e diminuir a pagina*/
    transition-timing-function: ease; /* coloca um efeito "suave" ao aumentar e diminuir a pagina*/
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    display: block;
    background: rgb(40, 40, 75) url(../imagens/tela-login.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position:  left bottom;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    display: block;
    border: 2px solid rgb(65, 114, 131);
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
    background-color: rgb(65, 114, 131);
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    /* background-color:black ; */
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: rgb(143, 214, 238);
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);
}

div.campo >input:focus-within{ /* adiciona um efeito ao clicar */
    background-color: white;
} 

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgb(65, 114, 131);
    color: white;
    border: none;
    border-radius: 5px;
}

form > input[type=submit]:hover {
    background-color: rgb(36, 63, 71);
}

form > a.botao:hover {
    background-color: rgb(23, 197, 250);
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color:rgb(65, 114, 131);
    border-radius: 5px;
    text-decoration: none;
    color: white;
}